.header {
    background: #000;
}
  
.header__inner {
    margin: 0 auto;
    padding: 10px;
    max-width: 1230px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .header__inner {
        max-width: 768px;
    }
}

@media screen and (max-width: 480px) {
    .header__inner {
        max-width: 480px;
        text-align: center;
    }
}

.comment-list__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.comment-list__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

@media screen and (max-width: 768px) {
    .comment-list__content {
        max-width: 768px;
    }
}

@media screen and (max-width: 480px) {
    .comment-list__content {
        max-width: 480px;
    }
}

.message {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.comment-card {
    width: 70%;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 3px solid #808080;
    border-radius: 3px;
}

.reply-card {
    width: 70%;
    margin: 0 0 30px auto;
    padding: 10px 20px;
    border: 3px solid #0000ff;
    border-radius: 3px;
}

.comment-card__heading,
.reply-card__heading {
    text-align: left;
}

.comment-card__date,
.reply-card__date {
    text-align: right;
}

@media screen and (max-width: 480px) {
    .comment-card__date,
    .reply-card__date {
        text-align: left;
    }
}

.delete-form__button,
.reply-form__button {
    text-align: right;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .delete-form__button,
    .reply-form__button {
        text-align: center;
    }
}

.delete-form__button-submit,
.reply-form__button-submit {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}