.detail-page__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

@media screen and (max-width: 768px) {
    .detail-page__content{
        max-width: 768px;
    }
}

@media screen and (max-width: 480px) {
    .detail__content {
        max-width: 480px;
    }
}
  
.detail-page__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: 3px solid #ddd;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.list-page__link {
    margin-right: 30px;
    padding: 2px 5px;
    border: 3px solid #0000ff;
    border-radius: 3px;
    font-size: 18px;
    color: #0000ff;
    text-decoration: none;
}

.message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.detail-card {
    width: 70%;
    padding: 20px 30px;
    margin: 30px auto;
    border: 3px solid #808080;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .detail-card {
        width: 100%;
    }
}

.detail-card__group {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.detail-card__title {
    width: 30%;
}

.detail-card__tag {
    width: 100%;
}

.delete-form__button {
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}

.delete-form__button-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
}
