.top-page__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
  
.top-page__heading {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
