.header {
    background: #000;
}
  
.header__inner {
    margin: 0 auto;
    padding: 10px;
    max-width: 1230px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .header__inner {
        max-width: 768px;
    }
}

@media screen and (max-width: 480px) {
    .header__inner {
        max-width: 480px;
    }
}

.done__content {
    margin: 30px auto;
    padding: 30px 15px;
    max-width: 1230px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .done__content {
        max-width: 768px;
    }
}

@media screen and (max-width: 480px) {
    .done__content{
        max-width: 480px;
    }
}

.message {
    font-size: 18px;
    font-weight: bold;
}

.top-page__link{
    margin-top: 50px;
}

.top-page__link--button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
