.item__content {
    max-width: 1230px;
    margin: 30px auto;
}

.item__content--inner {
    display: flex;
}

.item__image,
.item__body {
    width: 50%;
    padding: 20px 30px;
    font-weight: bold;
}

.item__image-card {
    width: 400px;
    height: 500px;
    border: 1px solid #ddd;
}

.item__image-card img {
    width: 100%;
    height: 100%;
}

.item__body--inner {
    width: 100%;
}

.item__utilities {
    display: flex;
    margin-bottom: 20px;
}

.like-form__button,
.unlike-form__button {
    margin-right: 30px;
}

.like-form__button-submit,
.unlike-form__button-submit,
.coment__link-form--button-submit {
    background-color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.likes_count,
.comments_count {
    text-align: center;
    font-size: 14px;
}

.purchase__link-form {
    padding: 10px 20px;
    width: 100%;
    background-color: #ff0000;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.purchase__link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.category-info {
    display: flex;
    justify-content: left;
    align-items: center;
}

.category-tag,
.condition-tag {
    margin-right: 30px;
}

.category-tag__item {
    margin-right: 20px;
}

.condition-info {
    display: flex;
    justify-content: left;
    align-items: center;
}


